*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    height: 60px;
    background-color: #036;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65px;
    color: #ffffff;
    font-size: 20px;
}

header .usuario{
    display: flex;
    flex-direction: row;
    margin-left: 800px;
    margin-right: 80px;
    font-size: 28px;
}

.header button{
    color: #ffffff;
    background-color: #036;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    font-size: 18px;

}

.retangulo1 .box1{
    display: flex;
    flex-direction: row;
}

.retangulo1{
    background-color: #f1f1f1;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.retangulo1 .parte1{
    margin-left: 65px;
    margin-top: 50px;
    color: #036;
    font-weight: bold;
    font-size: 30px;
}

.retangulo1 button{
    background-color: #036;
    color: #ffffff;
    padding: 8px;
    width: 300px;
    border: #036;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
}

.retangulo1 .visualizar {
    height: 40px;
    width: 40px;
    margin-top: 70px;
}

.retangulo1 .parte2{
    flex-direction: column;
    margin-right: 200px;
}

.retangulo1 .extrato img{
    background-color: green;
    border-radius: 3px;
    margin-right: 8px;
}

.extrato{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 300px;
    font-size: 14px;
}


.retangulo2 h1{
    font-size: 20px;
    color: #036;
    margin-top: 30px;
    margin-left: 65px;
}

.retangulo2 .servico img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 85px;
}

.retangulo2 .servico p{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servico{
    background-color: #036;
    margin: 10px;
    border-radius: 5px;
    height: 150px;
    width: 250px;
}

footer .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 50px;
}

footer h1{
    color: #036;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 20px;
}

footer h2{
    font-weight: bolder;
    font-size: 18px;
}

footer h3{
    font-weight: lighter;
    font-size: 16px;
}

footer .especialista {
    background-color: #036;
    color: #ffffff;
    border: #036;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    margin-right: 20px;
}